#header{
background-color:#E96D63;
color:#F4BA70;
}
body 
{
background-size:cover;
background-repeat:no-repeat;
}
input{
border:0;
border-radius:5px;
}
#box{
border: 1px solid #fff;
width:500px;
background-color:#85C1F5;
}
